@tailwind base;
@tailwind components;
@tailwind utilities;

.counter{
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
}
.how-works-item:first-child .counter > .counter-line-one{
    background: transparent;
}
.how-works-item:last-child .counter > .counter-line-two{
    background: transparent;
}
.project-item .project-img{
    transition: .5s ease-in-out;
}
.project-item:hover .project-img{
    transform: scale(1.24)
}

.big-hero{
    width: 55%;
}
.small-hero{
    width: 40%;
}
.small-hero2{
    /* width: calc(100% - 100px); */
}
.big-hero2{
    /* width: calc(100% + 100px); */
}








/*Custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #22c55e43;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #22C55E;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #22C55E;
  }